<div class="row">
<div class="col-md-12">  <h1> Users
  <span class="glyphicon glyphicon-question-sign helpStyle"  tooltip="Drag and drop the card to rearrange the order."  placement="left"></span>  </h1> </div>
</div>
<div class="container-fluid">
  <div class="row">

    <div class='col-md-3 cardParent'  *ngFor="let item of userData;let i = index;">

      <div class="cardStyle" draggable droppable [dragOverClass]="'drag-target-border'" [dragData]="item" (onDrag)="onCardMove(i)"  (onDrop)="onCardDrop($event,i)"
       >
         <div class="col-md-4">
            <img [src]="item.displayImage">
         </div>

         <div class="col-md-8 scrollableClass">
           <div class="form-group" *ngFor="let columnField of userFields;">
            <label for="exampleInputEmail1">{{columnField.columnDisplayName}}</label>
            <input type="text" trim="blur"  class="form-control" placeholder="sets" [(ngModel)]="item[columnField.columnName]" (focusout)="updateData(i)"
              (focus)="saveNameIdentity(i)" >
          </div>

         </div>

      </div>
    </div>


  </div>
</div>
